<h2>Mission Details</h2><br>

<p><b>Mission:</b> <%= @mission.title %></p>
<p><b>Description:</b><%= @mission.description %></p><br>
<b>Startdate:</b> <%= @mission.startdate %></><br>
<b>Enddate:</b> <%= @mission.enddate %></><br>