<h1>Welcome <%=@user.username%></h1>
<%= @user.missions.each do |mission|%>
    <ul>
        <li><a href="/missions/<%=mission.id%>"><%=mission.title %></a></li>
    </ul>
<% end %>    
<div class="logout">
    <a href='/logout'>Logout</a>
</div>
