
<h2>Missions List</h2>

<a href= "/missions/new"><strong style="color: blue;"> Create a new mission.</strong></a><br>
<br><br>

<ol><% @missions.each do |mission| %>
        <li><a href="/missions/<%= mission.id %>"><%= mission.title %></a></li>
    <% end %>
</ol> 
